<div class="main-page">
  <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4 mb-3">Cryptonite</h1>
    <p class="lead">Automated tax analysis for Cryptocurrency exchanges, powered by KPMG.</p>
  </div>
  
  <div class="container">
    <div class="card-deck mb-3 text-center">
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">Independent Reserve</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            <small class="text-muted">Demo 1</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Australian Exchange</li>
            <li>Ethereum <small class="text-muted">ETH</small></li>
            <li>Bitcoin <small class="text-muted">XBT</small></li>
            <li>Bitcoin Cash <small class="text-muted">BCH</small></li>
          </ul>
          <button type="button" routerLink="independent-reserve" class="btn btn-lg btn-block btn-primary">View Demo</button>
        </div>
      </div>
      <div class="card mb-4 box-shadow">
        <div class="card-header">
          <h4 class="my-0 font-weight-normal">BTC Markets</h4>
        </div>
        <div class="card-body">
          <h1 class="card-title pricing-card-title">
            <small class="text-muted">Demo 2</small>
          </h1>
          <ul class="list-unstyled mt-3 mb-4">
            <li>Australian Exchange</li>
            <li>Ethereum
              <small class="text-muted">ETH</small>
            </li>
            <li>Bitcoin
              <small class="text-muted">XBT</small>
            </li>
            <li>Litecoin
              <small class="text-muted">LTC</small>
            </li>

          </ul>
          <button type="button" routerLink="btcmarkets" class="btn btn-lg btn-block btn-primary">View Demo</button>
        </div>
      </div>
    </div>
    <hr>
    <div class="footer text-muted text-center">
      This website is intended for demonstration purposes only. Nothing in this website constitutes legal or taxation advice.
    </div>
  </div>
  
</div>